<div class="exercise_taking_flow">
<div class="container clearfix">
  <!--<div class="left-sec large-6 columns">
    <ul>
      <li>
       <a href="#">Question 1</a>
      </li>
      <li>
       <a href="#">Question 2</a>
      </li>
    </ul>
  </div>-->
  <div class="right-sec large-24 columns">
    <div class="slide-container">
      <div class="heading-label">Question {{curId}}</div>
      <div class="content">
        <div class="question">
          {{curQue}}
        </div>
        <div>
          <div class="answer-header">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <!--<input matInput placeholder="Favorite food" value="Sushi">-->
                <textarea matInput rows="4" cols="50" class="answer-input" id="rules"></textarea>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="button-row">
          <button mat-raised-button (click)="prevQue()" [disabled]="!prevKey">Previous</button>
          <button mat-raised-button (click)="nextQue()" [disabled]="!nextKey" color="primary">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>